/* global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* header */
header{
  background:red;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:green 3px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

#outerbox {
width: 950px;
overflow: hidden;
align-items: center;
}

#sliderbox {
  position: relative;
  width: 1415px;
  animation-name: atul;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

#sliderbox img {
  float: left;
}

@keyframes atul {
  0%
   {
    left: 0px;
  }
  16% {
    left: 0px;
  }
  20% {
    left: -275px;
  }
  36% {
    left: -275px;
  }
  40% {
    left: -550px;
  }
  56% {
    left: -550px;
  }
  60% {
    left: -850px;
  }
  76% {
    left: -850px;
  }
  80% {
    left: -1156px;
  }
  96% {
    left: -1156px;
  }
  100% {
    left: -1415px;
  }
}

/* facebook */

#facebook-image {
border: solid 1px blue;
margin-left:80px;
margin-right:80px;
}

#facebook-image a{
  float: right;
}

#facebook-image img{
  float: left;
}



.main-form {
  border: blue solid 1px;
  background-color: green;
  color: white;
  padding: 20px;
}

.main-form h3{
  color: red;
  text-transform: uppercase;
  text-decoration-style: solid;
}

.form-name {
  float: left;
  width: 45%;
  overflow: hidden;
}

.form-email {
  float: right;
  width: 45%;
  overflow: hidden;
}

.form-message {
  float: right;
  width 45%;
  overflow: hidden;
}

.form-button {
  float: left;
  width: 15%;
  overflow: hidden;
}

.button_1 {
  background-color: red;
  color: green;
  text-decoration-style: solid;
  margin-left: 60px;
}

.media-coverage{
  border-radius: 1px;
  border-style: solid;
  border-color: #808080;
}

footer{
  padding:20px;
  margin-top:20px;
  color:green;
  background-color:red;
  text-align: center;
}
